<div>  
    <div>
      <mat-toolbar class="mat-elevation-z8">
          <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened"> menudu </mat-icon>
          <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
        <div>          
          <span> Ticket de Turno</span>
      </div>
      </mat-toolbar>
      
      <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
          <img class="avatar" src='assets/school-system-blanco.svg'/>
      
          <h4 class="name">Ticket de Turno</h4>
      
          <mat-divider class="divider"></mat-divider>
          <button mat-button class="menu-button" routerLink="/Admin/agendarAdmin" (click) ="closeSideNav()">
            <mat-icon>home</mat-icon>
            <span class="name">Agendar Cita</span>
          </button>
          <button mat-button class="menu-button" routerLink="/Admin/dashboard" (click) ="closeSideNav()">
            <mat-icon>chrome_reader_mode</mat-icon>
            <span class="name">Dashboard</span>
          </button>
          <button mat-button class="menu-button" routerLink="/Admin/cambiarEstatusCita"(click) ="closeSideNav()">
            <mat-icon>dashboard</mat-icon>
            <span class="name">Cambiar Estatus</span>
          </button>
          <button mat-button class="menu-button" routerLink="/Admin/usuarios"(click) ="closeSideNav()">
            <mat-icon>dashboard</mat-icon>
            <span class="name">Usuarios</span>
          </button>
          <!-- <button mat-button class="menu-button" routerLink="/Admin/CRUDdatos"(click) ="closeSideNav()">
            <mat-icon>dashboard</mat-icon>
            <span class="name">CRUD Datos</span>
          </button> -->
          <button mat-button class="menu-button" [matMenuTriggerFor]="wheels">
            <mat-icon>description</mat-icon>
            <span class="name">CRUD Datos</span>
            <mat-menu #wheels="matMenu">
              <button mat-menu-item routerLink="/Admin/CRUDdatos/asunto" (click) ="closeSideNav()">Asunto</button>
              <button mat-menu-item routerLink="/Admin/CRUDdatos/estatus" (click) ="closeSideNav()">Estatus</button>
              <button mat-menu-item routerLink="/Admin/CRUDdatos/municipios" (click) ="closeSideNav()">Municipios</button>
              <button mat-menu-item routerLink="/Admin/CRUDdatos/niveles" (click) ="closeSideNav()">Niveles</button>
              <button mat-menu-item routerLink="/Admin/CRUDdatos/roles" (click) ="closeSideNav()">Roles</button>
            </mat-menu>
          </button>
          
          <mat-divider class="divider"></mat-divider>
          <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="name">Log out</span>
          </button>
          <div><app-footer></app-footer></div>          
        </mat-sidenav>
        <mat-sidenav-content class="content mat-elevation-z8">
          <div style="width: 100%; height: 100%;" >
            <router-outlet></router-outlet> 
          </div>
          
        </mat-sidenav-content>
        
      </mat-sidenav-container>
    </div>
</div>
