<div>
    <div class="chartcenter">
      <mat-tab-group #tabGroup id="tabGroup" mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Agregar Usuario">
            <app-agregar-ususario></app-agregar-ususario>
        </mat-tab>
        <mat-tab label="Modificar Usuario">
            <app-modificar-usuario></app-modificar-usuario>
        </mat-tab>
        <mat-tab label="Eliminar Usuario">
            <app-eliminar-usuario></app-eliminar-usuario>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>